.account-page {
    padding: 50px 0;
    background: repeating-radial-gradient(lightyellow, #ffd6d6);
}

.form-container {
    background-attachment: #fff;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-button {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .button {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .button:focus {
    outline: none;
}

#Login-form {
    left: -300px;
}

#Reg-form {
    left: 0px;
}

form a {
    font-size: 12px;
}

.indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}

table {
    margin-top: 50px;
    text-align: center;
    background: radial-gradient(#ffd6d6, yellow);
    color: black;
}

#show th,
#show td {
    padding: 13px;
}

#btna td input {
    width: 100%;
}
