/*----------------------------offer----------------------------------*/

.offer {
    background: repeating-radial-gradient(lightyellow, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50%;
}