* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

p {
    color: darkolivegreen;
}

.container-main {
    max-width: 100%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2-main {
    flex-basis: 100%;
    min-width: 500px;
}

.col-2 {
    flex-basis: 35%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 45px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2-main h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.button {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: 1s;
}

.header {
    background: repeating-radial-gradient(lightyellow, #ffd6d6);
}

.button:hover {
    background: #563434;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.col-4 {
    flex-basis: 25px;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 1s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: darkolivegreen;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: black;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translate(-5px);
}


/*----------------------------offer----------------------------------*/

.offer {
    background: repeating-radial-gradient(lightyellow, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50%;
}

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 16px;
    padding: 100px 0 40px;
}

.footer h2 {
    color: #fff;
    margin-bottom: 20px;
}

.top-right {
    position: absolute;
    top: 120px;
    right: 150px;
}


/* cart items */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 5px solid #ff523b;
    width: 100%;
    max-width: 410px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}


/* account page */

.account-page {
    padding: 50px 0;
    background: repeating-radial-gradient(lightyellow, #ffd6d6);
}

.form-container {
    background-attachment: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-button {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .button {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .button:focus {
    outline: none;
}

#Login-form {
    left: -300px;
}

#Reg-form {
    left: 0px;
}

form a {
    font-size: 12px;
}

.indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}